<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Title -->
    <title>2.1. Bidirectional binding</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../bower_components/bootstrap-block-grid/dist/bootstrap3-block-grid.min.css">

    <!-- Script Files -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/eventsModule.js"></script>

</head>

<body ng-app="app">
<div class="container">

    <h1>2. Data binding</h1>

    <h2>2.1. Bidirectional binding</h2>

    <br>
    <input type="text" ng-model="name" placeholder="Whats your name?">
    <p>My name is: {{name}}</p>
    <p>My name is: <span ng-bind="name"></span></p>

    <br>

    <h3>Events</h3>
    <div ng-controller="eventsController">
        <section class="row">
            <article class="col-md-12">
                <div class="row">
                    <div class="col-sm-2">
                        <input type="text" ng-model="newEvent.date" placeholder="date">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" ng-model="newEvent.city" placeholder="city">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" ng-model="newEvent.location" placeholder="location">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" ng-model="newEvent.link" placeholder="link">
                    </div>
                </div>
                <button ng-click="events.push(newEvent)">+</button>
                <section class="row">
                    <article class="col-md-12">
                        <div class="row" ng-repeat="event in events track by $index" ng-cloak>
                            <div class="col-sm-3">
                                {{event.date}}
                            </div>
                            <div class="col-sm-3">
                                {{event.city}}
                            </div>
                            <div class="col-sm-4">
                                {{event.location}}
                            </div>
                            <div class="col-sm-2">
                                <a ng-href="{{event.link}}" target="_blank">Tickets</a>
                            </div>
                        </div>

                    </article>
                </section>

                <br>

                <pre>{{events | json}}</pre>
            </article>
        </section>
    </div>


</div>

</body>
</html>

<!--
	@author: Hornung, Jonathan (https://github.com/JohnnyTheTank)
	@date updated : 2015/12/16
-->