<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Title -->
    <title>3.2 Event based directives</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../node_modules/bootstrap-block-grid/dist/bootstrap3-block-grid.min.css">

    <!-- Script Files -->
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="../../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/sampleModule.js"></script>

</head>

<body ng-app="app">
<div class="container">

    <h1>3. Built in directives</h1>
    <h2>3.2. Event based directives</h2>

    <h3>Output on console</h3>
    <br>

    <h3>Events</h3>
    <br>
    <div ng-controller="sampleController">
        <div class="well" ng-click="eventListener($event)">ng-click</div>
        <div class="well" ng-dblclick="eventListener($event)">ng-dblclick</div>
        <div class="well" ng-mousedown="eventListener($event)">ng-mousedown</div>
        <div class="well" ng-mouseenter="eventListener($event)">ng-mouseenter</div>
        <div class="well" ng-mouseleave="eventListener($event)">ng-mouseleave</div>
        <div class="well" ng-mousemove="eventListener($event)">ng-mousemove</div>
        <div class="well" ng-mouseover="eventListener($event)">ng-mouseover</div>
        <div class="well" ng-mouseup="eventListener($event)">ng-mouseup</div>
        <div class="well">
            <input type="text" ng-focus="eventListener($event)" placeholder="ng-focus">
        </div>
        <div class="well">
            <input type="text" ng-blur="eventListener($event)" placeholder="ng-blur">
        </div>
        <div class="well">
            <input type="text" ng-keypress="eventListener($event)" placeholder="ng-keypress" ng-model="key"> <span ng-if="keyCode"> {{keyCode}}</span>
        </div>
        <div class="well">
            <input type="text" ng-keydown="eventListener($event)" placeholder="ng-keydown" ng-model="key"> <span ng-if="keyCode"> {{keyCode}}</span>
        </div>
        <div class="well">
            <input type="text" ng-keyup="eventListener($event)" placeholder="ng-keyup" ng-model="key"> <span ng-if="keyCode"> {{keyCode}}</span>
        </div>
        <div class="well">
            <input type="text" ng-copy="eventListener($event)" placeholder="ng-copy">
        </div>
        <div class="well">
            <input type="text" ng-cut="eventListener($event)" placeholder="ng-cut">
        </div>
        <div class="well">
            <input type="text" ng-paste="eventListener($event)" placeholder="ng-paste">
        </div>
        <div class="well">
            <input type="checkbox" ng-model="checkbox" ng-change="eventListener($event)"> ng-change
        </div>

        <div class="well">
            <form ng-submit="eventListener($event)">
                <button type="submit">ng-submit</button>
            </form>
        </div>

    </div>

    <br>

</div>

</body>
</html>

<!--
	@author: Hornung, Jonathan (https://github.com/JohnnyTheTank)
	@date updated : 2015/12/16
-->
