<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Title -->
    <title>1.1. App</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Script Files -->
    <script src="../../node_modules/angular/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/i18n/angular-locale_de-de.js"></script>
</head>

<body ng-app>

<div class="container">
    <h1>1. Project components</h1>
    <h2>1.1. App</h2>
    <hr>

    <input type="text" ng-model="name" placeholder="Whats your name?">
    <p ng-if="name">My name is: {{name | uppercase}}</p>

    <input type="number" ng-model="price" placeholder="Whats your price?">
    <p ng-if="price">My age is: {{price | currency}}</p>


</div>

</body>
</html>

<!--
	@author: Hornung, Jonathan (https://github.com/JohnnyTheTank)
	@date updated : 2015/12/16
-->
